[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "application/package/json-web-gen"]
	path = application/package/json-web-gen
	url = https://github.com/azadkaratas/json-web-gen.git
[submodule "application/package/firmware-updater"]
	path = application/package/firmware-updater
	url = https://github.com/azadkaratas/firmware-updater.git
[submodule "application/package/logger"]
	path = application/package/logger
	url = https://github.com/azadkaratas/logger.git
