[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "application/package/webctl/webpage/json-web-gen"]
	path = application/package/webctl/webpage/json-web-gen
	url = https://github.com/azadkaratas/json-web-gen.git
